source "drivers/soc/oplus/device_info/Kconfig"
source "drivers/soc/oplus/misc/Kconfig"
source "drivers/soc/oplus/sensor/Kconfig"
source "drivers/soc/oplus/system/Kconfig"
source "drivers/soc/oplus/thermal/Kconfig"
